<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>createNickname.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>game.css" />
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <title>My Ludo</title>
    <style>
        body {
            width: 100%;
            height: 100vh;
            margin: 0;
            background-image: url("https://ludo-game-assets.s3.amazonaws.com/dice-7734660_960_720.webp");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

    </style>
</head>

<body>


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-xs-12">
                        <div class="card" style="background-color: rgba(240, 248, 255, 0.516); border-radius: 25px;">
                            <div class="card-header">

                                <h3 class="text-center" style="color: #332b2b;">My Ludo</h3>
                            </div>
                            <div class="card-body">
                                <div id="form">


                                    <div class="input-group mb-3">
                                        <input type="text" id="playerName" name="playerName" class="form-control border-warning"
                                            placeholder="Nickname" aria-label="Recipient's username"
                                            aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button id="createNickname" class="btn btn-warning" type="button"
                                                id="button-addon2">Join Now</button>
                                        </div>
                                    </div>



                                    <div class="form-row align-items-center">
                                        <div class="col-sm-12">
                                            <label id="nicknameError"
                                                style="color:rgb(255, 174, 0); font-weight: bold;"></label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>


</body>
